  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 25px;
    font-family: 'Londrina Solid', cursive;
    
  }

.heading:hover
{
  font-family: 'Courgette', cursive;
  background-color: lightcoral;
  color: black;
}

  .heading_div
  {
    float: none;
    padding: 10px;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    font-family: 'Permanent Marker', cursive;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    font-family: 'ZCOOL KuaiLe', cursive;
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  .result_para_tag span
  {
    white-space: pre-line;
  }

  .copy_right_footer
  {
    position: fixed;
    line-height: 25px;
    bottom: 0;
    text-align: center;
    color: slategray;
    width: 100%;
    background-color: turquoise;
    font-weight: bolder;
  }

  canvas
  {
 border: 6px ridge royalblue;
    border-radius: 30px;
    margin-top: 170px;
    box-shadow: 5px 5px 5px aquamarine;
  
  }

 